@font-face {
	font-family: 'Roboto';
	src: url('./assets/fonts/Roboto-Thin.ttf');
	font-weight: 200;
}
@font-face {
	font-family: 'Roboto';
	src: url('./assets/fonts/Roboto-Light.ttf');
	font-weight: 300;
}
@font-face {
	font-family: 'Roboto';
	src: url('./assets/fonts/Roboto-Regular.ttf');
	font-weight: 400;
}
@font-face {
	font-family: 'Roboto';
	src: url('./assets/fonts/Roboto-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: 'Roboto';
	src: url('./assets/fonts/Roboto-Bold.ttf');
	font-weight: 600;
}

@font-face {
	font-family: 'Open Sans';
	src: url('./assets/fonts/OpenSans-Light.ttf');
	font-weight: 300;
}
@font-face {
	font-family: 'Open Sans';
	src: url('./assets/fonts/OpenSans-Regular.ttf');
	font-weight: 400;
}
@font-face {
	font-family: 'Open Sans';
	src: url('./assets/fonts/OpenSans-SemiBold.ttf');
	font-weight: 500;
}
@font-face {
	font-family: 'Open Sans';
	src: url('./assets/fonts/OpenSans-Bold.ttf');
	font-weight: 600;
}
@font-face {
	font-family: 'Open Sans';
	src: url('./assets/fonts/OpenSans-ExtraBold.ttf');
	font-weight: 700;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.row {
	display: flex;
}

.column {
	flex: 1
}